.header{
    background-color: red;
    text-decoration: none;
}
.container{
background-color: grey;
justify-content: center;
flex-direction: column;
width: 500px;
margin: 50px;
text-decoration: none;
}
