.container{
    height: 60px;
    background-color: orange;
    width: 100%;
display: flex;
align-items: center;
text-decoration: none;
}
.left{
flex: 2;
display: flex;
justify-content:center ;
}
.right{
flex: 10;
display: flex;
justify-content:flex-evenly;
}
.link{
    margin: 0px 20px;
    text-decoration: none;
    color: black;
}